<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    html, body{
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #app {

    }
    </style>
</head>

<body>
    <div id="app">
        <form method='post' action="news/upload" enctype="multipart/form-data">
            <input type="file" name="pic">

            <button>提交</button>
        </form>
    </div>
</body>
<script>

</script>
</html>

