<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    </style>
</head>

<body>
    <div id="app">
        <% for (let i = 0, len = list.length; i < len; i++) { %>
            <p><%= list[i].title %></p>
            <p><%= list[i].content %></p>
        <% } %>
    </div>
</body>
<script>

</script>
</html>